
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ds1 = ViewBag.list1 as List<Sanpham>;
    var ct = ViewBag.ct1 as Chitietsanpham;
}
@using shopthoitrang.Models
@model Sanpham
<h2>Chi tiết mặt hàng</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img height="200" width="200" src="~/Content/Images/@Model.Hinhanh" />
        </div>
        <div class="col-md-8">
            <p>Tên hàng: @Model.Tensanpham</p>
            <p>Mô tả: @ct.Chitietsanpham1</p>
            <p><h5>Giá: @String.Format("{0:0,0}", Model.Gia) VNĐ</h5></p>
            @Html.ActionLink("Chọn mua", "ChonMua", "Home", new { id = @Model.Masanpham }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <div class="row">CÁC SẢN PHẨM CÙNG LOẠI</div>
    <div class="row">
        @foreach (var mh in ds1)
        {
            <div class="col-md-2">
                <img height="150" width="150" src="~/Content/Images/@mh.Hinhanh" />
                @Html.ActionLink(@mh.Tensanpham, "ChiTiet", "Home", new { id = @mh.Masanpham }, new { @class = "nav-link" })
            </div>
        }
    </div>

</div>

