
@{
    ViewBag.Title = "XacNhanThongTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using shopthoitrang.Models
@model Khachhang
<h2>Xác nhận thông tin</h2>

@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<form action="/Home/LuuDatHang" method="post">
    <p>Tên: @Model.Hoten</p>
    <p>Địa chỉ: <input type="text" name="txtdiachi" value="@Model.Diachi" /></p>
    <p>Số điện thoại: @Model.Sodienthoai</p>
    <p>Ngày đặt hàng: @DateTime.Now.ToShortDateString()</p>
    <p>Ngày hẹn giao: <input type="date" name="txtNgayHen" /></p>

    <input type="submit" value="Đồng ý" />
</form>
