@model IEnumerable<shopthoitrang.Models.Khachhang>

@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Thông tin khách hàng</h2>

<p>
    @Html.ActionLink("Thêm khách hàng", "ThemKH")
</p>
<table class="table">
    <tr>
        <th>
            Mã khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Makh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tendangnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaKH", new { id = item.Makh }) |
                @Html.ActionLink("Xóa", "XoaKH", new { id = item.Makh })
            </td>
        </tr>
    }

</table>

