@model shopthoitrang.Models.Chitietsanpham

@{
    ViewBag.Title = "SuaChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>SuaChiTietSanPham</h2>

@using (Html.BeginForm("SuaChiTietSanPham", "QuanLy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chitietsanpham</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Masanpham)

        <div class="form-group">
            @Html.LabelFor(model => model.Chitietsanpham1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chitietsanpham1)
                @Html.ValidationMessageFor(model => model.Chitietsanpham1)
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    @Html.ActionLink("VỀ TRANG SẢN PHẨM", "SanPham")
</div>
