@model shopthoitrang.Models.Sanpham

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>SuaSanPham</h2>

@if (TempData["AlertMessage"] != null)
{
    <h4>@TempData["AlertMessage"]</h4>
}

@using (Html.BeginForm("SuaSanPham", "QuanLy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.Masanpham)

        @if(Model != null)
        {
            <div class="form-group">
            @Html.LabelFor(model => model.Masanpham, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px;">@Model.Masanpham</div>
            </div>
        </div>
        <div class="editor-label">

            <b>Loại sản phẩm:</b>
        </div>
        <div class="editor-field">

            @Html.DropDownList("MaLoai")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tensanpham)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tensanpham)
            @Html.ValidationMessageFor(model => model.Tensanpham)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hinhanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Chọn ảnh mới
                <input type="file" name="fileUpload" />
                <img src="~/Content/Images/@Model.Hinhanh" width="150" height="150" /> (Ảnh hiện tại)
                @*@"thong bao trung"
                @ViewBag.Thongbao*@
            </div>
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Gia)*@
            <b>Số lượng:</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Soluong)
            @Html.ValidationMessageFor(model => model.Soluong)
        </div>
            
        <div class="editor-label">
            @Html.LabelFor(model => model.Gia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        }
        
        
      
    </fieldset>
}

<div>
    @Html.ActionLink("VỀ TRANG SẢN PHẨM", "SanPham")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
